<% @restaurants.each do |restaurant| %>
  <div>
    <%= link_to(restaurant.name, restaurant_path(restaurant))  %>
    <%= restaurant.category %>
    <%= restaurant.address %>
    <%= restaurant.phone_number %>
  </div><br>
<% end %>
